/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: antiquewhite;
    background-color: #f0f0f0;
}

#game-container {
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    height: 300px;
    padding: 20px;
    background-image: url(./media/background.png);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

audio { 
    display: none
}